.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-input-wrapper input {
  padding-right: 44px !important;
}

.password-toggle-btn {
  position: absolute !important;
  right: 6px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  color: var(--gray-10) !important;
  cursor: pointer;
}

.password-toggle-btn:hover {
  color: var(--accent-11) !important;
}
